body,h1,h2,h3,h4,h5,h6,p,label {
    font-family: "Open Sans";
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    height: 100%;
    width: 100;
    padding: 0px;
    margin: 0px;
}

li {
    display: inline-block;
    float: none;
}

a {
    color:inherit
}

form {
    width:100%;
    height:450px;
    margin:auto;
    position:relative;
}

input {
    width:100%;
    height: 25px;
}

.active {
    background-color: #4CAF50;
}

/*Positioning*/

.top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.center {
    text-align: center!important;
}

.display-middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}

.down {
    line-height: 500px;
}

.left {
    text-align: left!important;
}

.right {
    text-align: right!important;
    float: right;
}

.topright {
    position:absolute;
    right:0;
    top:0
}

/*Size changes*/

.padding-64 {
    padding-top:64px!important;
    padding-bottom:64px!important
}

.padding-large {
    padding:12px 24px!important;
}

.xlarge {
    font-size:24px;
}

.large {
    font-size:18px!important
  }

.wide {
    letter-spacing: 4px;
}

.section {
    margin-top:16px!important;
    margin-bottom:16px!important;
}

.titleSize {
    margin-top: 64px!important;
    margin-bottom: 16px!important;
}

.xtraPadding {
    padding-bottom: 124px!important;
}

/*Random*/

.navBar {
    list-style-type: none;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    max-width: 403px;
    height: -250px;
}

.navButton {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navButton:hover:not(.active) {
    background-color: #708090;
}

.cvBar {
    position: inherit;
    list-style-type: none;
    overflow: hidden;
    margin-left: 115px;
    margin-right: auto;
    background-color: #333;
    max-width: 104px;
    height: -250px;
}

.button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button:hover:not(.active) {
    background-color: #708090;
}

.portfolioSearch {
    width: 50%;
    z-index: 1;
    list-style-type: none;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    height: -250px;
    max-width: 150px;
}

.portButton {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    max-width: 40px;
    max-height: 20px;
    text-decoration: none;
}

.portButton:hover:not(.active) {
    background-color: #708090;
}

.portfolioXtraPadding {
    padding-bottom: 26px!important;
}

.rcorners {
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.border {
    border: 4px;
    border-style: solid;
    color: black;
}

.container {
    padding:0.01em 16px;
    margin-top:16px;
    margin-bottom:16px
}

.container:after,.container:before {
    content:"";
    display:table;
    clear:both
}

.display-container {
    position: relative;
}

.content {
    margin-left:auto;
    margin-right:auto;
    max-width:980px
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.modal {
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}

.modal-content {
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:600px
}

.transparent {
    background-color: transparent!important;
}

.input {
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:35%
}

.emailWindow {
    position: relative;
    right: -25px;
    top: -44px;
}

.messageBox {
    padding: 8px;
    display:block;
    border:none;
    width:35%;
    resize: vertical;
}

.messageButton {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    padding: 6px 16px;
    width: 120px;
    margin: 5px;
}

.messageButton:hover:not(.active) {
    background-color: #a6a6a6;
}

.cvPb {
    position: absolute;
    margin-top: 390px;
    margin-left: 30px;
}

.hidden {
    display:none;
}

.unhidden {
    display:block;
}

/*Animations*/

.animate-opacity {
    animation:opac 0.8s
}

.opacity-min {
    opacity:0.75
}

@keyframes opac {
    from{opacity:0} to{opacity:1}
}

.animate-zoom {
    animation:animatezoom 0.6s
}

@keyframes animatezoom {
    from{transform:scale(0)} to{transform:scale(1)}
}

/*Images*/

.opacity {
    opacity: 0.60;
}

.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("back.jpg");
    min-height: 50%;
}

.bgimg-2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("back.jpg");
    min-height: 100%;
}

.bgimg-3 {
    background-color:#e6e6e6;
}

.image {
    max-width:100%;
    height:auto
}

img {
    vertical-align:middle
}

/*Colors*/

.lighter-grey-background {
   background-color:#e6e6e6!important;
}

.lighter-grey {
    color:#e6e6e6!important;
}

.light-grey {
    color:#D3D3D3!important;
}

.black {
    color:#fff!important;
    background-color:#000!important;
}
