body {
    background-image:url("back.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

article {
    display: block;
    text-align: center;
}

header {
    display: block;
    color: gray;
    text-align: left;
}

ul {
    text-align: center;
    margin-right: 40px;
}

#pagelinks {
    background-color: #444444;
    position: static;
    width: 100%;
    text-align: center;
    color: white;
}
#pagelinks nav li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 100px;
}
#pagelinks nav li button {
    background-color: inherit;
    letter-spacing: 2px;
    font-size: 14;
    text-align: center;
    border: none;
    padding: 25px 20px;
    color: white;
    transition-duration: 0.3s;
}
#pagelinks nav li button:hover {
    background-color: #595959;
}

.topButton {
    position: fixed;
    top: 0;
    left: 20px;
    transition:top 200ms linear 0ms,transform 300ms ease 100ms;
}
.topButton span {
    font-size: 50px;
    color: #919191;
}
.topButton.active {
    top: 230px;
    transform:rotate(360deg);
}

.leftcolumn {
    float: left;
    width: 0%;
}

.rightcolumn {
    float: right;
    width: 8%;
}

.rcorners2 {
    text-align: center;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 215px;
    height: 150px;
    margin-left: 785px;
}
