body {

}

article {
    display: block;
    text-align: center;
}

header {
    display: block;
    color: gray;
    text-align: left;
}

ul {
    text-align: center;
    margin-right: 40px;
}

.leftcolumn {
    float: left;
    width: 0%;
}

.rightcolumn {
    float: right;
    width: 8%;
}

#pagelinks {
    background-color: #444444;
    position: static;
    width: 100%;
    text-align: center;
    color: white;
}
#pagelinks nav li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 100px;
}
#pagelinks nav li button {
    background-color: inherit;
    letter-spacing: 2px;
    font-size: 14;
    text-align: center;
    border: none;
    padding: 25px 20px;
    color: white;
    transition-duration: 0.3s;
}
#pagelinks nav li button:hover {
    background-color: #595959;
}
