/* FONTS */
@font-face {
    font-family: 'rocketToMars';
    src:url('../misc/ROCKET TO MARS.ttf') format('truetype');
}
@font-face {
    font-family: 'future';
    src:url('../misc/FUTRFW.TTF') format('truetype');
}

@font-face {
    font-family: 'smallType';
    src:url('../misc/SmallTypeWriting.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}


body {
    align-items: center;

}


#wallpaper {
    background-image: url('../Images/Night2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    transform: scale(1);

}

#containerForWP {
    position: relative;
    height: 100%;
}

#overlay {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 400px;
  opacity: 1;
}

.contact {
  width: 400px;
  margin: 10px 0px;
}

input {
  width: 100%;
  margin: 10px 0px;
  padding: 5px 0px;
  border-radius: 4px;
  background-color: Transparent;
  border-style: solid;
  border-color: #595959;


  color: white;
  font-family: 'future';
  font-size: 15px;
  letter-spacing: 0px;
}

textarea {
  font-family: 'future';
  font-size: 10px;
  color: white;

  border-style: solid;
  border-color: #595959;
  border-radius: 4px;

  background-color: Transparent;
  width: 100%;
  margin: 10px 0px;
  height: 125px;
  border-radius: 4px;
}

#logo {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%,-50%);
}

#logo span{
    font-family: 'future';
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    text-decoration: underline;
}

#logo h1 {
  font-family: 'future';
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
}

#logo h2 {
  font-family: 'future';
  color: white;
  font-size: 12px;
  letter-spacing: 1px;

}

/* GENERAL BUTTON LAYOUT */
button {
  background-color: Transparent;
  color: white;

  padding: 10px 10px;
  border-radius: 5px;
  border: 2px solid #ffff;
  transition-duration: 0.4s;
  margin-right: 10px;
}

button:hover {
  background-color: White;
  color: black;
}

#logo1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#logo1 span {
    background-color: #444444;
    font-family: 'future';
    color: white;
    padding: 10px;
    font-size: 24px;
}




/*
#logo button {
  background-color: Transparent;
  color: white;

  padding: 10px 10px;
  border-radius: 5px;
  border: 2px solid #ffff;
  transition-duration: 0.4s;
  margin-right: 10px;
}

#logo button:hover {
    background-color: White;
    color: black;
}
*/
